<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/productCreation.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

<!-- Register form -->

<main>
    <section class="newProduct-Section">
        <h2>Create a new listing</h2>
        <form action="/products/create" method="POST" class="register-form-New-Product">
            <div class="container-inputs">
                <article class="productNameContainer">
                <label for="productName">Product Name</label>
                    <input type="text" name="name" class="productName" required>
                </article>
                <article class="productDescriptionConteiner">
                    <label for="productDescription">Description</label>
                    <textarea name="description" required></textarea>
                </article>
                <article class="productIncludesConteiner">
                    <label for="productIncludes">Includes</label>
                    <textarea type="text" name="includes" required></textarea>
                </article>
                <article class="productSpecificationConteiner">
                    <label for="productSpecification">Specification</label>
                    <textarea name="specs" required></textarea>
                </article>
            </div>
            <div class="second-container-inputs">
                <article class="productPriceContainer" >
                    <label for="productPrice">Price</label>
                        <input type="text" name="price" class="inputPrice" required>
                </article>
                <article class="product-Categories-Container">
                    <label for="product-Categories">Categories</label>
                        <Select class="product-Categories" name="category" required>
                            <option value="Modules&Cases">Modules & Cases</option>
                            <option value="Senquencers">Senquencers</option>
                            <option value="Accesories">Accesories</option>
                            <option value="Effects">Effects</option>
                            <option value="WeirdGear">Weird Gear</option>
                            <option value="NewReleases">New Releases</option>
                        </Select>
                </article>
            </div>
            <article class="product-Images-Container">
                <section class="product-Images">
                    <label for="Load-files">Images</label>
                        <input type="file" name="Load-files" class="btn-File-Select" multiple accept=".jpg, .png">
                </section>
            </article>
            <button type="submit" class="btn-register-product">
                Create product
            </button>
        </form>
    </section>

</main>


<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>