<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynthWorld</title>
    <link rel="icon" href="/img/Logo .ico">

    <!-- normalize -->
    <link href="css/normalize.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Styles -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/productCreation.css" rel="stylesheet">
</head>

<body>
    <header>
        <section class="nav-bar-top">
            <i class="fas fa-bars burger-menu"></i>
            <div class="logo-and-name">
                <img src="img/Logo.PNG" class="">
                <h1>SynthWorld</h1>
            </div>
                <article class="nav-bar-links">
                    <h2><a href="">Shop</a></h2>
                    <h2><a href="">News</a></h2>
                    <h2><a href="">About</a></h2>
                    <h2><a href="">Support</a></h2>
                </article>
                <article class="icons-navbar">
                    <i class="fas fa-shopping-cart cart-icon"></i>
                    <i class="fas fa-user user-icon"></i> 
                </article>
        </section>
        <section class="search-bar">
        <input type="text" placeholder="Search...">
    </section>
</header>

<!-- Register form -->

<main>
    <section class="newProduct-Section">
        <h2>Create a new listing</h2>
        <form action="register" method="POST" class="register-form-New-Product">
            <div class="container-inputs">
                <article class="productNameContainer">
                <label for="productName">Product Name</label>
                    <input type="text" name="productName" class="productName" required>
                </article>
                <article class="productDescriptionConteiner">
                    <label for="productDescription">Description</label>
                    <textarea name="productDescription" required></textarea>
                </article>
                <article class="productIncludesConteiner">
                    <label for="productIncludes">Includes</label>
                    <textarea type="text" name="productIncludes" required></textarea>
                </article>
                <article class="productSpecificationConteiner">
                    <label for="productSpecification">Specification</label>
                    <textarea name="productSpecification" required></textarea>
                </article>
            </div>
            <div class="second-container-inputs">
                <article class="productPriceContainer" >
                    <label for="productPrice">Price</label>
                        <input type="text" name="productPrice" class="inputPrice" required>
                </article>
                <article class="product-Categories-Container">
                    <label for="product-Categories">Categories</label>
                        <Select class="product-Categories" name="product-Categories" required>
                            <option value="Modules&Cases">Modules & Cases</option>
                            <option value="Senquencers">Senquencers</option>
                            <option value="Accesories">Accesories</option>
                            <option value="Effects">Effects</option>
                            <option value="WeirdGear">Weird Gear</option>
                            <option value="NewReleases">New Releases</option>
                        </Select>
                </article>
            </div>
            <article class="product-Images-Container">
                <section class="product-Images">
                    <label for="Load-files">Images</label>
                        <input type="file" name="Load-files" class="btn-File-Select" multiple id="">
                </section>
                <section class="imagesToAdd">
                    <img src="img/new-releases1.jpeg"class="imgMini">
                    <img src="img/weird-gear2.jpeg" class="imgMini">
                    <img src="img/Drum-Seq.jpeg"class="imgMini">
                    <img src="img/modular-categories.jpg"class="imgMini">
                </section>
            </article>
            <button type="submit" class="btn-register-product">
                Create product
            </button>
        </form>
    </section>

</main>


<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>