<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/productCreation.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

<!-- Register form -->

<main>
    <section class="newProduct-Section">
        <h2>Create a new listing</h2>
        <form action="/products/create" method="POST" class="register-form-New-Product" enctype="multipart/form-data">
            <div class="container-inputs">
                <article class="productNameContainer">
                <label for="name">Product Name</label>
                    <input type="text" name="name" class="productName" required>
                </article>
                <article class="productDescriptionConteiner">
                    <label for="description">Description</label>
                    <textarea name="description" required></textarea>
                </article>
                <article class="productExtraInfoConteiner">
                    <label for="extraInfo">Extra Info</label>
                    <textarea type="text" name="extraInfo" required></textarea>
                </article>
            </div>
            <div class="second-container-inputs">
                <article class="productPriceContainer" >
                    <label for="price">Price</label>
                        <input type="text" name="price" class="inputPrice" required>
                </article>
                <article class="product-Categories-Container">
                    <label for="category">Categories</label>
                        <Select class="product-Categories" name="category" required>
                            <option value="Modules&Cases">Modules & Cases</option>
                            <option value="Senquencers">Senquencers</option>
                            <option value="Accesories">Accesories</option>
                            <option value="Effects">Effects</option>
                            <option value="WeirdGear">Weird Gear</option>
                            <option value="NewReleases">New Releases</option>
                        </Select>
                </article>
            </div>
            <article class="product-Images-Container">
                <section class="product-Images">
                    <label for="productImg">Images</label>
                        <input type="file" name="productImg" class="btn-File-Select" multiple accept=".jpg, .jpeg, .png">
                </section>
            </article>
            <button type="submit" class="btn-register-product">
                Create product
            </button>
        </form>
    </section>

</main>


<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>