<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynthWorld</title>
    <link rel="icon" href="/img/Logo .ico">

    <!-- normalize -->
    <link href="css/normalize.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Styles -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/register.css" rel="stylesheet">
</head>

<body>
    <header>
        <section class="nav-bar-top">
            <i class="fas fa-bars burger-menu"></i>
            <div class="logo-and-name">
                <img src="img/Logo.PNG" class="">
                <h1>SynthWorld</h1>
            </div>
                <article class="nav-bar-links">
                    <h2><a href="">Shop</a></h2>
                    <h2><a href="">News</a></h2>
                    <h2><a href="">About</a></h2>
                    <h2><a href="">Support</a></h2>
                </article>
                <article class="icons-navbar">
                    <i class="fas fa-shopping-cart cart-icon"></i>
                    <i class="fas fa-user user-icon"></i> 
                </article>
        </section>
        <section class="search-bar">
        <input type="text" placeholder="Search...">
    </section>
</header>

<!-- Register form -->

<main>
    <form action="register" method="POST" class="register-form">
        <h1>Ready to join our community?</h1>
        <h2>Create your account</h2>
        <div class="container-inputs">
            <label for="userEmail">Email address</label>
            <input type="email" name="userEmail" placeholder="Email address" class="email-input-login" required>

            <label for="userpassword">Password</label>
            <input type="password" name="userPassword" placeholder="Password" required>
            <label for="userpasswordValidation">Confirm password</label>
            <input type="password" name="userPasswordValidation" placeholder="Confirm password" required>
        </div>
        <h1>Personal information</h1>

        <div class="second-container-inputs">
            <label for="userFirstName">First name</label>
            <input type="text" name="userFirstName" placeholder="First name" required>
            <label for="userLastName">Last name</label>
            <input type="text" name="userLastName" placeholder="Last name" required>
        </div>
        <div class="age">
        <p>When where you born?</p>
        </div>
        <div class="third-container-inputs">
            <label for="userDateOfBirth">Day</label>
            <input type="text" name="userDateOfBirth" placeholder="Day" required>
            <label for="userMonthOfBirth">Month</label>
            <input type="text" name="userMonthOfBirth" placeholder="Month" required>
            <label for="userYearOfBirth">Year</label>
            <input type="text" name="userYearOfBirth" placeholder="Year" required>
        </div>
        <button type="submit" class="btn-register">
            Register
        </button>
        <p class="paragraph">
            Or
        </p>


<!--FB and Gmail buttons-->
<div class="container-btn-register-with">
        <button class="btn-register-with-facebook"><i class="fab fa-facebook"></i>
Register with Facebook</button>
    </div>
    
    <div class="container-btn-register-with">
        <button class="btn-register-with-google"><i class="fab fa-google"></i><span>  Register with Google</span></button>
    </div>

    <p class="create-account">Already have an account?<a href="/login"> Sign in</a></p>
    </form>
</main>


<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>