main {
    height: 85vh;
}

label{
    display:none;
}

.register-form{
    padding-top: 15px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.container-inputs {
    margin-bottom: 15px;
    width: 95%;
    margin-top: 15px;
}
.container-inputs input {
    margin-top: 5px;
    background-color: #282828;
    border: 1px #FFFFFF solid;
    width: 100%;
    padding: 3px;
    height: 35px;
    padding-left: 5px;
}

.container-inputs input::placeholder {
    color:#FFFFFF;
    font-size: 1.4rem;
} 

.second-container-inputs{
    margin-bottom: 15px;
    width: 95%;
    margin-top: 15px;
}

.second-container-inputs input{
    background-color: #282828;
    border: 1px #FFFFFF solid;
    width: 100%;
    padding: 3px;
    height: 35px;
    padding-left: 5px;
}

.second-container-inputs input::placeholder {
    color:#FFFFFF;
    font-size: 1.4rem;
} 

.third-container-inputs{
    margin-bottom: 15px;
    width: 95%;
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.third-container-inputs input{
    background-color: #282828;
    border: 1px #FFFFFF solid;
    width: 100%;
    padding: 3px;
    height: 35px;
    padding-left: 5px;
}
.third-container-inputs input::placeholder {
    color:#FFFFFF;
    font-size: 1.4rem;
} 

p {
    margin: 20px auto;
}

.create-account{
    margin: 0;
    font-size: 1.2rem;
    justify-self: flex-end;
    font-weight: 500;
}

/*general buttons styles*/
.btn-register {
    width: 50%;
    height: 35px;
    border-radius: 20px;
    background-color: black;
    color: #FFFFFF;
    border: 0;
    font-size: 1.7rem;
}

.container-btn-register-with button{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    color: #FFFFFF;
    border: 0;
    margin-bottom: 20px;
}

/*facebook and google buttons styles*/
.btn-register-with-facebook {
    background-color: var(--color--facebook);
}
.btn-register-with-google {
    background-color: #FFFFFF;
    color:black
}

.btn-register-with-google span {
    color: #000000;
}
.btn-register-with-google i {
    color: #000000;
}